* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.scroll {
    position: fixed;
    bottom: 45px;
    right: 20px;
    width: 45px;
    height: 45px;
    background-color: rgba(255, 215, 0, 0.6);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 200;
    transition: transform .5s;
}
.scroll a {
    color: black;
    font-size: 23px;
}
.scroll:hover {
    transform: translateY(-5px);
}
@media screen and (max-width: 850px) {
    .scroll {
        bottom: 30px;
    }
}
@media screen and (min-width: 1700px) {
    .scroll {
        width: 60px;
        height: 60px;
    }
    .scroll a {
        font-size: 30px;
    }
}

section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(11, 72, 107, 0.5), rgba(245, 97, 23, 0.637)), url("pexels-cottonbro-7169844.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background-color: rgba(255, 217, 0, 0.959);
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
/* We put in a high z-index so that the header will appear over the rest of the elements on the page. */

.logo {
    /* background-color: green; */
    text-align: left;
    margin-left: 20px;
    font-size: 45px;
    line-height: 80px;
}

nav {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 80px;
    margin-right: 20px;
    font-size: 18px;
    /* display: none; */
}

nav ul li {
    display: inline-block;
    list-style: none;
    color: black;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 17px;
}
nav ul li a:not(last-child) {
    margin-right: 30px;
}

nav ul li a:hover {
    border-bottom: 3px solid black;
    transition: 0.2s;
}

.toggle {
    display: none;
}

.toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px;
    line-height: 80px;
}

.toggle-label span {
    font-size: 35px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 850px) {
    nav ul li a {
        font-size: 16px;
        /* margin: 0; */
        opacity: 0;
        transition: opacity 150ms ease-in-out 150ms;
    }
    nav {
        top: 78px;
        right: 0;
        background-color: rgba(255, 217, 0, 0.959);
        margin: 0;
        border-radius: 15px;
        text-align: left;
        padding: 0 15px;
        opacity: 0.8;
        transform: scale(1,0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }
    nav ul li {
        display: block;
    }
    .logo {
        margin-left: 23px;
        font-size: 37px;
    }
    .toggle-label span {
        display: block;
        font-size: 30px;
    }
    .toggle:checked ~ nav {
        transform: scale(1,1);
    }
    .toggle:checked ~ nav ul li a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }
    /* Instead of letting our checkbox set the display of the nav to none and block when we toggle, we can use the scale function where we set the initial display of the nav to scale(1,0) which means we have the height at its normal 100% which is the height it would take on initially and then the width 0 which means the nav bar wont show, then we come over to the id= toggle and set that when it is checked, that is when the label icon which is working together with it is clicked on, we increase the scale of nav to width and height of 100% which is the initial height of the nav bar. */
    /* Using the transistion property, we set that for transform, let it take 400ms to open the scale of the nav and then ease-in-out... Then with this we notice that the nav bar opens from the middle, that's why we set the transform-origin to top */

    /* Also with the opacity, after the above method, we will notice that the texts appear squashed as a result of the shrinking of the nav, so we set the opacity initially to 0 then when checked, we set the opacity to one with a transistion of 250ms ease-in-out then after ease-in-out we set the time for the opacity to become 1 which is 250ms, then we come over to the a tag itself and set a transistion for the reverse, that is when we close the menu to opacity 150ms, this will take a shorter time to reset the opacity again to zero and this way we see the texts kind of moving in with the nav bar */
}

@media screen and (min-width: 1800px) {
    header {
        height: 100px;
    }
    .logo {
        line-height: 100px;
        font-size: 55px;
    }
    nav {
        line-height: 100px;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a:not(last-child) {
        margin-right: 35px;
    }
}

.sect {
    width: 100%;
    background-color: black;
    padding-bottom: 50px;
}
.about-us {
    text-align: center;
    padding-top: 80px;
}
.about-us h2 {
    font-weight: 700;
    font-size: 30px;
    color: gold;
    margin-bottom: 5px;
}
.about-us p {
    color: rgb(92, 92, 92);
    font-style: italic;
    margin-bottom: 50px;
    font-size: 20px;
}
.about-us hr {
    width: 30%;
    margin: auto;
    margin-bottom: 8px;
    border: 2px solid gold;
}

.container {
    margin: auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image {
    flex-basis: 49%; 
    margin-bottom: 12px;
    position: relative;
    border-radius: 18px;
    cursor: pointer;
}
.image img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(11, 72, 107, 0.5), rgba(245, 97, 23, 0.637));
    border-radius: 18px;
    opacity: 0;
    transition: 0.6s;
}
.texts {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 49%;
    opacity: 0;
    transform: translateX(-49%);
    color: gold;
    transition: 0.6s;
}
.texts h3 {
    font-size: 25px;
    font-family: 'Montserrat';
}
.texts hr {
    border: 2px solid gold;
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
}
.texts p {
    font-style: italic;
    color: black;
    font-weight: 700;
    font-family: 'Montserrat';
}
.image:hover .overlay{
    opacity: 1;
}
.image:hover .texts{
    opacity: 1;
    bottom: 42%;
}

@media screen and (max-width: 850px) {
    .about-us h2 {
        font-size: 28px;
    }
    .about-us hr {
        border: 2px solid gold;
        width: 60%;
    }
    .about-us p {
        font-size: 17px;
    }
    .container {
        width: 90%;
    }
    .image {
        flex-basis: 100%;
    }
    .image:hover .texts{
        opacity: 1;
        bottom: 38%;
    }
}

@media screen and (min-width: 1800px) {
    .about-us h2 {
        font-size: 40px;
    }
    .about-us p {
        font-size: 30px;
    }
    .texts {
        width: 80%;
    }
    .texts h3 {
        font-size: 35px;
    }
    .texts hr {
        border: 3px solid gold;
    }
    .texts p {
        font-size: 20px;
    }
}

.testimonials {
    background-color: rgba(0, 0, 0, 0.822);
    width: 100%;
    padding-bottom: 50px;
}
.head {
    text-align: center;
    padding-top: 80px;
}
.head h4 {
    font-weight: 700;
    font-size: 30px;
    color: gold;
    margin-bottom: 5px;
}
.head hr {
    width: 25%;
    margin: auto;
    margin-bottom: 8px;
    border: 2px solid gold;
}
.head p {
    color: black;
    font-style: italic;
    margin-bottom: 50px;
    font-size: 20px;
}

.testimonial-container {
    width: 80%;
    margin: auto;
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    /* Set align items to flex-start so the items start at the vertical top of the div */
}

.testimonial-1, .testimonial-2, .testimonial-3 {
    background-color: white;
    flex-basis: 25%;
    border-radius: 10px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 10px 15px; 
    transition: transform 0.5s;   
}

.testimonial-container p {
    font-size: 16px;
}

.user {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    /* border: 2px solid gold; */
    padding: 5px 5px;
    border-radius: 10px;
}

.user img {
    width: 38px;
    height: 38px;
    margin-right: 20px;
    border-radius: 50%;
}
.user-info i {
    color: rgb(29, 155, 240);
    margin-left: 10px;
    font-size: 15px;
}
.user-info small {
    color: grey;
}
.testimonial-1:hover, .testimonial-2:hover, .testimonial-3:hover {
    transform: translateY(-15px);
}

@media screen and (max-width: 850px) {
    .testimonial-1, .testimonial-2, .testimonial-3 {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .head h4 {
        font-size: 28px;
    }
    .head hr {
        border: 2px solid gold;
        width: 60%;
    }
    .head p {
        font-size: 17px;
    }
}

@media screen and (min-width: 1800px) {
    .head h4 {
        font-size: 40px;
    }
    .head p {
        font-size: 30px;
    }
    .testimonial-1, .testimonial-2, .testimonial-3 {
        background-color: white;
        flex-basis: 30%;
        border-radius: 10px;
        padding: 15px 20px; 
    }
    .testimonial-container p {
        font-size: 32px;
    }
    .user-info h5 {
        font-size: 23px;
    }
    .user-info small {
        font-size: 16px;
    }
    .user-info i {
        font-size: 20px;
    }
}

footer {
    background-color: black;
    width: 100%;
}

.contact {
    text-align: center;
    padding-top: 40px;
}
.contact h2 {
    font-weight: 700;
    font-size: 30px;
    color: gold;
    margin-bottom: 5px;
}
.contact p {
    color: rgb(92, 92, 92);
    font-style: italic;
    margin-bottom: 50px;
    font-size: 20px;
}
.contact hr {
    width: 30%;
    margin: auto;
    margin-bottom: 8px;
    border: 2px solid gold;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: gold;
    /* background-color: red; */
    width: 80%;
    margin: auto;
} 

.footer-container i {
    margin-right: 5px;
}
.footer-container p {
    color: black;
    font-weight: 700;
    margin-bottom: 4px;
}

.footer-container a {
    text-decoration: none;
    color: black;
}
.footer-container a:hover {
    text-decoration: underline;
    color: black;
}

.left, .right {
    background-color: rgb(109, 108, 108);
    flex-basis: 48%;
    text-align: center;
    border-radius: 20px;
    padding: 0 10px;
    cursor: pointer;
    transition: transform 0.5s;
}
.left:hover, .right:hover {
    transform: translateY(-15px);
}

.me {
    width: 35px;
    margin: auto;
    margin-top: 6px;
} 
.my-photo {
    width: 100%;
    border-radius: 50%;
}


.socials {
    background-color: gold;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.socials i {
    font-size: 35px;
    padding: 15px 0;
    transition: transform 0.3s;
}
.socials i:hover {
    transform: translateY(-7px);
}
.socials div:not(last-child) {
    margin-right: 30px;
}
.socials a {
    color: black;
    text-decoration: none;
}
.end {
    width: 100%;
    color: white;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .contact h2 {
        font-size: 28px;
    }
    .contact hr {
        border: 2px solid gold;
        width: 60%;
    }
    .contact p {
        font-size: 17px;
    }
    .left, .right {
        flex-basis: 100%;
    }
    .left {
        margin-bottom: 25px;
    }
    .footer-container h1 {
        font-size: 25px;
    }
    .footer-container p {
        font-size: 13px;
    }
    .socials i {
        font-size: 32px;
    }
    .end {
        margin-top: 7px;
        font-size: 9px;
        padding-bottom: 4px;
    }
    .me {
        width: 27px;
    }
}

@media screen and (min-width: 1800px) {
    .about-us h2 {
        font-size: 40px;
    }
    .about-us p {
        font-size: 30px;
    }    
}


